
#insumo
{

background-color: #222;
}



.titulo-crud {
    
    text-align: center;
    position: relative;
    top: 30px;

    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    background-image: none;
    background-color: #0A4273;
    border: none;
    text-transform: uppercase;

}


.container {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}



.navbar {
    border-radius: 0px;
}


html { 
  background: url('../../assets/img/imagen5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* sobre escribo css de los plugins */
.report-div.report-list
{
background-color: #ffffff;
}

.dataTables_info
{
background-color: #ffffff;
}
.dataTables_paginate
{
background-color: #ffffff;
}
.ui-input-button
{
	background:#0A4273;
	color:#FFF;
}

.btn-large
{
	background:#0A4273;
	color:#FFF;
}

    body { padding-top: 50px; 
    min-height: 410px; 
    background-color: transparent;
    }
    .tab-content p { padding: 10px 0; }
    
   /*
   content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/img/imagen2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position :  0 100px;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;*/ 
 /*  Este css lo utilizo para las vistas de los reportes (validacion y aspecto) un contenedor y tres divs internos     */   
    #d1{
    width: 1000px;
    height:  80px;
    margin: 0 10px;
    
   

}

#d1c{
    width: 200px;
    height: 100px;
    
    
float:left;
}

#d2c{
    width: 200px;
    height: 100px;
    float:left;
   
}

#d3c{
    width: 200px;
    height: 100px;
     float:left;
   
  
}
#d4c{
    width: 200px;
    height: 100px;
     float:left;
     padding: 2% 0;
}

/*  Este css lo utilizo para las vistas de los cruds (pedidos)    */   
    #da1{
    width: 230px;
    /*height:  80px;*/
    /*margin: 0 10px;*/
    
   

}

#da1c{
   /* width: 200px;
    height: 100px;*/
    
    
float:left;
}

#da2c{
    /*width: 200px;
    height: 100px;*/
    float:left;
   
}

#da3c{
    /*width: 200px;
    height: 100px;*/
     float:left;
   
  
}
#da4c{
   /* width: 200px;
    height: 100px;*/
     float:left;
     padding: 2% 0;
}

   #principal: {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/img/imagen2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position :  0 100px;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

    
  


}
#d3c1{
    width: 100%;
    
     float:left;
    
 


}


input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background: #0A4273;
    color: #FFF;
}
input[type=reset] {
    -webkit-appearance: button;
    cursor: pointer;
    background: #0A4273;
    color: #FFF;
}

/* hasta aqui llega el css de las vistas*/